@font-face {
    font-family: 'Default_SC';
    src: url('Default_JP-85W.eot');
    src: url('Default_JP-85W.eot?#iefix') format('embedded-opentype'),
        url('Default_JP-85W.woff2') format('woff2'),
        url('Default_JP-85W.woff') format('woff'),
        url('Default_JP-85W.ttf') format('truetype'),
        url('Default_JP-85W.svg#Default_JP-85W') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Default_SC';
    src: url('Default_JP-85W_1.eot');
    src: url('Default_JP-85W_1.eot?#iefix') format('embedded-opentype'),
        url('Default_JP-85W_1.woff2') format('woff2'),
        url('Default_JP-85W_1.woff') format('woff'),
        url('Default_JP-85W_1.ttf') format('truetype'),
        url('Default_JP-85W_1.svg#Default_JP-85W') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Default_SC';
    src: url('Default_SC-85W.eot');
    src: url('Default_SC-85W.eot?#iefix') format('embedded-opentype'),
        url('Default_SC-85W.woff2') format('woff2'),
        url('Default_SC-85W.woff') format('woff'),
        url('Default_SC-85W.ttf') format('truetype'),
        url('Default_SC-85W.svg#Default_SC-85W') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Default_SC';
    src: url('Default_SC-85W_1.eot');
    src: url('Default_SC-85W_1.eot?#iefix') format('embedded-opentype'),
        url('Default_SC-85W_1.woff2') format('woff2'),
        url('Default_SC-85W_1.woff') format('woff'),
        url('Default_SC-85W_1.ttf') format('truetype'),
        url('Default_SC-85W_1.svg#Default_SC-85W') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FZLanTingHei-B-GBK';
    src: url('FZLTCHK--GBK1-0.eot');
    src: url('FZLTCHK--GBK1-0.eot?#iefix') format('embedded-opentype'),
        url('FZLTCHK--GBK1-0.woff2') format('woff2'),
        url('FZLTCHK--GBK1-0.woff') format('woff'),
        url('FZLTCHK--GBK1-0.ttf') format('truetype'),
        url('FZLTCHK--GBK1-0.svg#FZLTCHK--GBK1-0') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GS Enochian';
    src: url('GSEnochian.eot');
    src: url('GSEnochian.eot?#iefix') format('embedded-opentype'),
        url('GSEnochian.woff2') format('woff2'),
        url('GSEnochian.woff') format('woff'),
        url('GSEnochian.ttf') format('truetype'),
        url('GSEnochian.svg#GSEnochian') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FZLanTingHei-B-GBK';
    src: url('FZLTCHK--GBK1-0_1.eot');
    src: url('FZLTCHK--GBK1-0_1.eot?#iefix') format('embedded-opentype'),
        url('FZLTCHK--GBK1-0_1.woff2') format('woff2'),
        url('FZLTCHK--GBK1-0_1.woff') format('woff'),
        url('FZLTCHK--GBK1-0_1.ttf') format('truetype'),
        url('FZLTCHK--GBK1-0_1.svg#FZLTCHK--GBK1-0') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Genshin Impact DRIP FONT';
    src: url('GenshinImpactDRIPFONT.eot');
    src: url('GenshinImpactDRIPFONT.eot?#iefix') format('embedded-opentype'),
        url('GenshinImpactDRIPFONT.woff2') format('woff2'),
        url('GenshinImpactDRIPFONT.woff') format('woff'),
        url('GenshinImpactDRIPFONT.ttf') format('truetype'),
        url('GenshinImpactDRIPFONT.svg#GenshinImpactDRIPFONT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Genshin Impact DRIP FONT';
    src: url('GenshinImpactDRIPFONT_1.eot');
    src: url('GenshinImpactDRIPFONT_1.eot?#iefix') format('embedded-opentype'),
        url('GenshinImpactDRIPFONT_1.woff2') format('woff2'),
        url('GenshinImpactDRIPFONT_1.woff') format('woff'),
        url('GenshinImpactDRIPFONT_1.ttf') format('truetype'),
        url('GenshinImpactDRIPFONT_1.svg#GenshinImpactDRIPFONT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GS Enochian';
    src: url('GSEnochian_1.eot');
    src: url('GSEnochian_1.eot?#iefix') format('embedded-opentype'),
        url('GSEnochian_1.woff2') format('woff2'),
        url('GSEnochian_1.woff') format('woff'),
        url('GSEnochian_1.ttf') format('truetype'),
        url('GSEnochian_1.svg#GSEnochian') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HYWenHei-85W';
    src: url('HYWenHei-HEW.eot');
    src: url('HYWenHei-HEW.eot?#iefix') format('embedded-opentype'),
        url('HYWenHei-HEW.woff2') format('woff2'),
        url('HYWenHei-HEW.woff') format('woff'),
        url('HYWenHei-HEW.ttf') format('truetype'),
        url('HYWenHei-HEW.svg#HYWenHei-HEW') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HYWenHei-85W';
    src: url('HYWenHei-HEW_1.eot');
    src: url('HYWenHei-HEW_1.eot?#iefix') format('embedded-opentype'),
        url('HYWenHei-HEW_1.woff2') format('woff2'),
        url('HYWenHei-HEW_1.woff') format('woff'),
        url('HYWenHei-HEW_1.ttf') format('truetype'),
        url('HYWenHei-HEW_1.svg#HYWenHei-HEW') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 100W';
    src: url('JiangChengXieSong-100W.eot');
    src: url('JiangChengXieSong-100W.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-100W.woff2') format('woff2'),
        url('JiangChengXieSong-100W.woff') format('woff'),
        url('JiangChengXieSong-100W.ttf') format('truetype'),
        url('JiangChengXieSong-100W.svg#JiangChengXieSong-100W') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 100W';
    src: url('JiangChengXieSong-100W_1.eot');
    src: url('JiangChengXieSong-100W_1.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-100W_1.woff2') format('woff2'),
        url('JiangChengXieSong-100W_1.woff') format('woff'),
        url('JiangChengXieSong-100W_1.ttf') format('truetype'),
        url('JiangChengXieSong-100W_1.svg#JiangChengXieSong-100W') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 200W';
    src: url('JiangChengXieSong-200W.eot');
    src: url('JiangChengXieSong-200W.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-200W.woff2') format('woff2'),
        url('JiangChengXieSong-200W.woff') format('woff'),
        url('JiangChengXieSong-200W.ttf') format('truetype'),
        url('JiangChengXieSong-200W.svg#JiangChengXieSong-200W') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 200W';
    src: url('JiangChengXieSong-200W_1.eot');
    src: url('JiangChengXieSong-200W_1.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-200W_1.woff2') format('woff2'),
        url('JiangChengXieSong-200W_1.woff') format('woff'),
        url('JiangChengXieSong-200W_1.ttf') format('truetype'),
        url('JiangChengXieSong-200W_1.svg#JiangChengXieSong-200W') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 300W';
    src: url('JiangChengXieSong-300W.eot');
    src: url('JiangChengXieSong-300W.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-300W.woff2') format('woff2'),
        url('JiangChengXieSong-300W.woff') format('woff'),
        url('JiangChengXieSong-300W.ttf') format('truetype'),
        url('JiangChengXieSong-300W.svg#JiangChengXieSong-300W') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 300W';
    src: url('JiangChengXieSong-300W_1.eot');
    src: url('JiangChengXieSong-300W_1.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-300W_1.woff2') format('woff2'),
        url('JiangChengXieSong-300W_1.woff') format('woff'),
        url('JiangChengXieSong-300W_1.ttf') format('truetype'),
        url('JiangChengXieSong-300W_1.svg#JiangChengXieSong-300W') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 400W';
    src: url('JiangChengXieSong-400W.eot');
    src: url('JiangChengXieSong-400W.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-400W.woff2') format('woff2'),
        url('JiangChengXieSong-400W.woff') format('woff'),
        url('JiangChengXieSong-400W.ttf') format('truetype'),
        url('JiangChengXieSong-400W.svg#JiangChengXieSong-400W') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 400W';
    src: url('JiangChengXieSong-400W_1.eot');
    src: url('JiangChengXieSong-400W_1.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-400W_1.woff2') format('woff2'),
        url('JiangChengXieSong-400W_1.woff') format('woff'),
        url('JiangChengXieSong-400W_1.ttf') format('truetype'),
        url('JiangChengXieSong-400W_1.svg#JiangChengXieSong-400W') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 500W';
    src: url('JiangChengXieSong-500W.eot');
    src: url('JiangChengXieSong-500W.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-500W.woff2') format('woff2'),
        url('JiangChengXieSong-500W.woff') format('woff'),
        url('JiangChengXieSong-500W.ttf') format('truetype'),
        url('JiangChengXieSong-500W.svg#JiangChengXieSong-500W') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 500W';
    src: url('JiangChengXieSong-500W_1.eot');
    src: url('JiangChengXieSong-500W_1.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-500W_1.woff2') format('woff2'),
        url('JiangChengXieSong-500W_1.woff') format('woff'),
        url('JiangChengXieSong-500W_1.ttf') format('truetype'),
        url('JiangChengXieSong-500W_1.svg#JiangChengXieSong-500W') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 700W';
    src: url('JiangChengXieSong-700W.eot');
    src: url('JiangChengXieSong-700W.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-700W.woff2') format('woff2'),
        url('JiangChengXieSong-700W.woff') format('woff'),
        url('JiangChengXieSong-700W.ttf') format('truetype'),
        url('JiangChengXieSong-700W.svg#JiangChengXieSong-700W') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 700W';
    src: url('JiangChengXieSong-700W_1.eot');
    src: url('JiangChengXieSong-700W_1.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-700W_1.woff2') format('woff2'),
        url('JiangChengXieSong-700W_1.woff') format('woff'),
        url('JiangChengXieSong-700W_1.ttf') format('truetype'),
        url('JiangChengXieSong-700W_1.svg#JiangChengXieSong-700W') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Number';
    src: url('Number.eot');
    src: url('Number.eot?#iefix') format('embedded-opentype'),
        url('Number.woff2') format('woff2'),
        url('Number.woff') format('woff'),
        url('Number.ttf') format('truetype'),
        url('Number.svg#Number') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 900W';
    src: url('JiangChengXieSong-900W.eot');
    src: url('JiangChengXieSong-900W.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-900W.woff2') format('woff2'),
        url('JiangChengXieSong-900W.woff') format('woff'),
        url('JiangChengXieSong-900W.ttf') format('truetype'),
        url('JiangChengXieSong-900W.svg#JiangChengXieSong-900W') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'teyvat';
    src: url('teyvat.eot');
    src: url('teyvat.eot?#iefix') format('embedded-opentype'),
        url('teyvat.woff2') format('woff2'),
        url('teyvat.woff') format('woff'),
        url('teyvat.ttf') format('truetype'),
        url('teyvat.svg#teyvat') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'teyvat';
    src: url('teyvat_1.eot');
    src: url('teyvat_1.eot?#iefix') format('embedded-opentype'),
        url('teyvat_1.woff2') format('woff2'),
        url('teyvat_1.woff') format('woff'),
        url('teyvat_1.ttf') format('truetype'),
        url('teyvat_1.svg#teyvat') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 900W';
    src: url('JiangChengXieSong-900W_1.eot');
    src: url('JiangChengXieSong-900W_1.eot?#iefix') format('embedded-opentype'),
        url('JiangChengXieSong-900W_1.woff2') format('woff2'),
        url('JiangChengXieSong-900W_1.woff') format('woff'),
        url('JiangChengXieSong-900W_1.ttf') format('truetype'),
        url('JiangChengXieSong-900W_1.svg#JiangChengXieSong-900W') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Number';
    src: url('Number_1.eot');
    src: url('Number_1.eot?#iefix') format('embedded-opentype'),
        url('Number_1.woff2') format('woff2'),
        url('Number_1.woff') format('woff'),
        url('Number_1.ttf') format('truetype'),
        url('Number_1.svg#Number') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

