@font-face {
    font-family: 'JiangChengXieSong 100W';
    src: url('JiangChengXieSong-100W.woff2') format('woff2'),
        url('JiangChengXieSong-100W.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 200W';
    src: url('JiangChengXieSong-200W.woff2') format('woff2'),
        url('JiangChengXieSong-200W.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 300W';
    src: url('JiangChengXieSong-300W.woff2') format('woff2'),
        url('JiangChengXieSong-300W.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 400W';
    src: url('JiangChengXieSong-400W.woff2') format('woff2'),
        url('JiangChengXieSong-400W.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 500W';
    src: url('JiangChengXieSong-500W.woff2') format('woff2'),
        url('JiangChengXieSong-500W.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 700W';
    src: url('JiangChengXieSong-700W.woff2') format('woff2'),
        url('JiangChengXieSong-700W.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JiangChengXieSong 900W';
    src: url('JiangChengXieSong-900W.woff2') format('woff2'),
        url('JiangChengXieSong-900W.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

